*{
    margin: 0;
    padding: 0;
}

.banner{
    height: 600px;
    width: 1320px;
    margin: 50px auto;
    text-align: center;
    background-image: linear-gradient(rgba(7, 2, 17, 1), rgba(7, 2, 17, 0)), url(/images/Banner\ Image.png);
    background-position: center;
    border-radius: 16px;
}

.banner-header{
    padding: 177px 344px;
    line-height: 70px;
}

.banner-h1{
    color: white;
    font-size: 72px;
    font-weight: bold;
}

.banner-h3{
    color: white;
    font-size: 32px;
}