*{
    margin: 0;
    padding: 0;
}

.banner{
    height: 600px;
    width: 1320px;
    margin: 50px auto;
    text-align: center;
    background-image: linear-gradient(rgba(7, 2, 17, 1), rgba(7, 2, 17, 0)), url(/images/Banner\ Image.png);
    background-position: center;
    border-radius: 16px;
}

.banner-header{
    padding: 177px 344px;
    line-height: 70px;
}

.banner-h1{
    color: white;
    font-size: 72px;
    font-weight: bold;
}

.banner-h3{
    color: white;
    font-size: 32px;
}
/* Banner Ends */

.section-1{
    margin: 120px 400px;
    text-align: center;
}

.sec1-h1{
    color: red;
    font-size: 88px;
    font-weight: bold;
    margin-bottom: 35px;
}

.sec1-h4{
    color: red;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}

.sec1-h2{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 35px;
}